/*General layouts*/

body {
	background-color:#1FA8F4;
	margin: 0px;
	position: relative;
}


ul, ol, dl { 
	color: #FFFFFF;
	
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0;	 
	padding-right: 15px;
	padding-left: 15px; 
	color: #FFFFFF;
	font-family: 'Open Sans', sans-serif;
}


p{
	font-family: 'Scope One', serif;
	color: #FFFFFF;
	
}
 

/*General layouts for horizontal Nav Bar section*/
.horizonnav{
	display:flex;
	justify-content: space-between;
	align-items:center;
	background-color:#0921db;
	height: 50px;
}

.navbar{
	display:flex;
	margin-left:auto;
	flex-direction:row;
	list-style-type:none;
	font-size:20px;
	font-weight:900;
	height:275px;
	margin-right:7px;
}



.navbar > li {
	display:inline;
	margin-left:17px;
}

.navbar > li:hover, .navbar > li:active, .navbar > li:focus { 
	background-color:#cbe314;
}



.backtoindex {
	display: flex;
	margin-right: auto;
	font-size:20px;
	font-weight:900;
}

.backtoindex>li{
	list-style-type: none;
	margin-right: 25px;
	font-weight:900;
}
.darkmode_switch{
	border:none;
	text-align: center;
	padding-left: 3px;
}

a:link {
	color:#FFFFFF;
	text-decoration:none;
}

a:visited {
	color: #FFFFFF;
	text-decoration: underline;

}
a:hover, a:active, a:focus {
    color: #FFFFFF;
}

/*end of horizontal navbar*/
