<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/signup-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/style.css') }}">
    <title>CRS Create</title>
</head>
<body>
    <nav class="horizonnav">
        <ul class="backtoindex">
            <li><a href="userhome"><img src="{{ url_for('static', filename='img/logo.png') }}" style=" margin-top:15px;" class="logoimg"></a></li>
        </ul>

        <ul class="navbar">
            <li>
                <div class="form-check form-switch">
                    <label class="form-check-label" for="flexSwitchCheckDefault"></label>
                    <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" />
                </div>
            </li>
            <li class="login"><a href="create">New</a></li>
            <li style="padding-left: 1em;" class="signup"><a href="account">Account</a></li>
        </ul>
    </nav>
    <div class="container">
        <form action="" method="post">
            <h1>Create Review page</h1>
            <p style="margin-left:16px;">write your course review here</p>
            <hr>

            <div class="msgs">
                <ul>
                    {% for msg in messages %}
                    <li style="list-style: none;"><h5 style="color: black;" class="text-center">{{ msg }}</h5></li>
                    {% endfor %}
                </ul>
            </div>
            
            <label for="title">Title</label>
            <input id="review_title" type="text" placeholder="Reviw Title" name="Title" required></input>
            
            <label for="course_name">Course name</label>
            <input id="course_name" type="text" placeholder="Course Name" name="Course" required></input>
            
            <label for="instructor">Instructor</label>
            <input id="instructor" type="text" placeholder="Course Instructor" name="Instructor" required></input>

            <label for="rating">rating</label>
            <input id="rating" type="text" placeholder="Course Rating (in number 1-5)" name="Rating" required></input>
            
            <textarea id="reveiw_contant" name="reveiw_contant" ></textarea>
            <div class="clearfix">
                <input onClick="window.location.href='http://127.0.0.1:5000/userhome'" type="button" value="Cancel" class="cancelbtn" name="cancelbtn"></input>
                <input type="submit" value="save" class="submitbtn" name="submitbtn"></input>
            </div>
        </form>
    </div>

    <script src="{{url_for('static', filename='js/scrept.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>